#google {
	margin: auto;
	display: block;
	padding-top: 109px;
}

.searchbar {
	box-sizing: border-box;
	height: 100%;
	text-align: center;
	display: block;
}

#searchbox:hover {
	border-color: #A1A1A1;
	box-shadow: 1px 2px 3px #A1A1A1;
}

* {
	margin: 0;
	border: 0;
	padding: 0;
}
#searchbox:focus {
	border-color: #A1A1A1;
	box-shadow: 1px 2px 3px #A1A1A1;
}

#searchbox {
	margin-top: 20px;
	font-size: 18px;
	margin-bottom: 20px;
	border: none;
	border-color: #CCC;
	border-style: solid;
	border-width: 0.5px;
	width: 450px;
	padding: 9px;
}

#sign-in-text {
	border-radius: 4px;
	border: none;
	text-decoration: none;
	opacity: 1;
	border: 1px solid #4285F4;
	font-weight: bold;
	background: #4285F4;
	color: white;
	line-height: 28px;
	padding: 8px 12px 8px 12px;
	margin: 0px;
}

#menu-icon:hover {
	opacity: 1;
}

#menu-icon {
	background-image:
		url(https://ssl.gstatic.com/gb/images/i2_2ec824b0.png);
	width: 30px;
	height: 30px;
	background-position: -132px -38px;
	background-size: 528px 68px;
	opacity: 0.7;

}

.navbar:hover {
	text-decoration: underline;
	opacity: 1;
}

.navbar {
	margin: 10px;
	color: black;
	text-decoration: none;
	opacity: 0.7;

}

li {
	vertical-align: middle;
	list-style-type: none;
	display: inline-block;
	padding: 5px;
	font-family: arial, sans-serif;
	font-size: 13px;
}

.buttons:hover {
	color: #0D0D0D;
	border-radius: 1px;
	border-color: #878787;
	border-style: solid;
	border-width: 1px;

}

.topbar {
	position: relative;
	text-align: right;

}


.buttons {
	font-family: arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	margin-top: 20px;
	margin: 5px;
	padding: 12px;
	border-style: solid;
	border-width:1px;
	border-color: #EDEDED;
	text-align: center;
	color: #878787;
	background-color: #EDEDED;
}

.test {
	background-color: blue;
}